h1 {
  margin: 20px auto;
}

button, select {
  margin: 10px auto;
  display: block;
  width: 60%;
}

h4 {
  margin-top: 30px;
}

.blue {
  color: #007bff;
}

table {
  text-align: left;
}

.bg-gray {
  background-color: lightgray;
}
